div#device {
 width: 750px;
 height: 500px;
 border: 1px solid #000000;
 margin: 10px auto;
}

div#main {
 padding: 10px;
 margin-left:170px;
 margin-right:2px;
 margin-bottom:2px;
 color: #BFE4FF;
 background-color: #00487D;
}

div#content {
 height: 440px;
 border:1px solid #000000;
}

div#status {
 height: 25px;
 font-weight: bold;
 padding: 4px;
 border: 1px solid #000000;
}

ul#menu {
 float:left;
}

ul#menu li {
 margin: 0;
 padding: 5px;
 border-bottom:4px;
 display: inline;
 text-align: right;
}

ul#menu li a.selected {
 width: 139px;
 border:1px solid #000000;
 border-right: none;
 color: #FF5E00;
 background-color: #00487D;
 padding-right: 10px;
}

ul#menu li a {
 display: block;
 width: 128px;
 height: 16px;
 padding: 18px 20px;
 text-decoration: none;
 font-weight: bold;
 font-size: 12px;
 text-transform: uppercase;
 border: 1px solid #FFFFFF;
 background-color: #BFE4FF;
 color: #0066B3;
}

div.verticaltext {
 position: absolute;
 right: 0;
 z-index: -2;
}
