/* Colori da usare
 * Tonalità
 * Blu
 * Azzurro
 * Arancione
 * Rosso
 *
 *
 *
 */


body {
 font-family: Helvetica;
 font-size: 16px;
}

div#device {
 width: 750px;
 height: 500px;
 border: 1px solid red;
 margin: 10px auto;
 background: #000;
 color: #fff;
}

div#main {
 padding: 10px;
 margin-left:170px;
 margin-right:5px;
 margin-bottom:5px;
 background-color: #BFE4FF;
 color: #00487D;
}

div#content {
 position: relative;
 height: 415px;
 border: 0px solid #000000;
}

div#status {
 height: 50px;
 font-weight: bold;
 font-size:0.8em;
 padding: 4px 5px 4px 5px;
 border: 0px solid #000000;
}

div#chColumn1{
 float:left;
 margin-left: 30px;
 margin-right: 45px;
}

div#chColumn2{
 float:left;
}

ul#time{
 float:right;
 text-align: right;
 background: url("../graphics/clock.png") no-repeat;
 width: 200px;
 font-size: 2ex;
 font-weight: bold;
 font-family: 'Courier New', 'Lucida Console', monospace;
}

ul#menu {
 float:left;
 position:relative;
 top: 14px;
}

ul#menu li {
 position:relative;
 width: 160px;
 height: auto;
 margin: 4px 0 0 0;
 text-align: right;
 display: block;
 padding: 0 0 0 0;
 border: 0px solid #FFFFFF;
 left: 10px;
 background-color: #00487D;
}

ul#menu li.selected {
 width: 165px;
 left: 5px;
 color: #FF5E00;
 background-color: #BFE4FF;
}

ul#menu li.selected a {
 color: #FF5E00;
 left: 5px;
}

ul#menu li a {
 color: #BFE4FF;
 display:block;
 height:18px;
 width:149px;
 position: relative;
 font-weight: bold;
 font-size: 0.9em;
 padding: 22px 0px 20px 0;
 text-transform: uppercase;
 text-decoration: none;
}

/* MENU ICONS */

ul#menu li div.menu_icon {
 width: 40px;
 height: 40px;
 padding: 0;
 margin: 0;position: absolute; left: 10px; top: 10px;
}

ul#menu li.selected div.menu_icon {
 left: 15px;
}

ul#menu li#mission div.menu_icon {
 background: url('../graphics/mission_off.png');
}

ul#menu li#mission.selected div.menu_icon {
 background: url('../graphics/mission_on.png');
}

ul#menu li#home div.menu_icon {
 background: url('../graphics/home_off.png');
}

ul#menu li#home.selected div.menu_icon {
 background: url('../graphics/home_on.png');
}

ul#menu li#health div.menu_icon {
 background: url('../graphics/health_off.png');
}

ul#menu li#health.selected div.menu_icon {
 background: url('../graphics/health_on.png');
}

ul#menu li#environment div.menu_icon {
 background: url('../graphics/env_off.png');
}

ul#menu li#environment.selected div.menu_icon {
 background: url('../graphics/env_on.png');
}
ul#menu li#station div.menu_icon {
 background: url('../graphics/station_alert.png');
}

ul#menu li#station.selected div.menu_icon {
 background: url('../graphics/station_alert.png');
}

div.verticaltext {
 position: absolute;
 right: 0;
 z-index: -2;
}

/* MISSION */

ul#tasks {
		width: 85%;
}

ul#tasks > li > a {
 font-weight: bold;
 display: block;
 color: #0066B3;
 border: 3px solid #FF5A00;
 border-bottom: none;
 background: #FFD080;
 height: 30px;
 padding:5px;
 text-transform: uppercase;
 text-decoration: none;
}

ul#tasks > li > a.selected {
 color: #0066B3;
 border: 3px solid #FF5A00;
 background: #FF5A00;
 height: 30px;
 margin-top: 10px;
 margin-bottom: 10px;
}

ul#tasks > li > a.first {
 margin-top:0px;
}

ul#tasks > li > a.last {
}

ul#tasks > li > ul  {
 margin: 0px 0 10px 0;
}

ul#tasks > li > ul > li {
 margin-left: 30px;
 list-style: circle;
 margin-bottom: 10px;
}

ul#tasks > li > ul > li.selected {
 margin-left: 30px;
 list-style: disc;
}

div.slider {
		width: 60px;
		height: 100%;
		position: absolute;
		right: 10px;
		top: 0px;
}

div.slider img#up {
		position: absolute;
		top: 0px;
		right: 0px;
}

div.slider img#down {
		position: absolute;
		bottom: 0px;
		right: 0px;
}
