body {
 font-family: Helvetica;
}

div#device {
 width: 750px;
 height: 500px;
 border: 1px solid #000000;
 margin: 10px auto;
}

div#main {
 padding: 10px;
 margin-left:170px;
 margin-right:2px;
 margin-bottom:2px;
 color: #BFE4FF;
 background-color: #00487D;
}

div#content {
 height: 440px;
 border: 0px solid #000000;
}

div#status {
 height: 25px;
 font-weight: bold;
 padding: 4px;
 border: 1px solid #000000;
}

ul#menu {
 float:left;
 position:relative;
 top: 14px;
}

ul#menu li {
 position:relative;
 width: 148px;
 height: 30px;
 margin: 4px 0 0 0;
 text-align: right;
 display: block;
 padding: 17px 20px 0px 0;
 border: 1px solid #FFFFFF;
 background-color: #BFE4FF;
}

ul#menu li.selected {
 width: 149px;
 border-right: none;
 color: #FF5E00;
 background-color: #00487D;
}

ul#menu li.selected a {
 color: #FF5E00;
 padding-right:10px;
}

ul#menu li a {
 color: #0066B3;
 display:block;
 height:45px;
 width:149px;
 position: relative;
 top:5px;
 font-weight: bold;
 font-size: 14px;
 text-transform: uppercase;
 text-decoration: none;
}

ul#menu li#mission div.menu_icon {
 background: url('../graphics/mission_off.png');
 width: 40px;
 height: 40px;
 padding: 0;
 margin: 0;position: absolute; left: 10px; top: 12px;
}

ul#menu li#mission.selected div.menu_icon {
 background: url('../graphics/mission_on.png');
}

div.verticaltext {
 position: absolute;
 right: 0;
 z-index: -2;
}

/* MISSION */

ul#tasks > li > a {
 font-weight: bold;
 display: block;
 color: #0066B3;
 border: 3px solid #FF5A00;
 background: #FFD080;
 height: 30px;
 padding:5px;
 text-transform: uppercase;
 text-decoration: none;
}

ul#tasks > li > a.selected {
 color: #0066B3;
 border: 3px solid #FF5A00;
 background: #FF5A00;
 height: 30px;
 margin-top: 10px;
 margin-bottom: 10px;
}

ul#tasks > li > a.first {
 margin-top:0px;
}

ul#tasks > li > ul  {
 margin: 0px 0 10px 0;
}

ul#tasks > li > ul > li {
 margin-left: 30px;
 list-style: circle;
 margin-bottom: 10px;
}

ul#tasks > li > ul > li.selected {
 margin-left: 30px;
 list-style: disc;
}
