div#device {
 width: 750px;
 height: 500px;
 border: 1px solid #000000;
 margin: 10px auto;
}

div#main {
 padding: 10px;
 margin-left:170px;
 margin-right:2px;
 margin-bottom:2px;
 color: #BFE4FF;
 background-color: #00487D;
}

div#content {
 height: 440px;
 border: 0px solid #000000;
}

div#status {
 height: 25px;
 font-weight: bold;
 padding: 4px;
 border: 1px solid #000000;
}

ul#menu {
 float:left;
 position:relative;
 top: 14px;
}

ul#menu li {
 width: 148px;
 height: 30px;
 margin: 4px 0 0 0;
 text-align: right;
 display: block;
 padding: 17px 20px 0px 0;
 text-decoration: none;
 font-weight: bold;
 font-size: 14px;
 text-transform: uppercase;
 border: 1px solid #FFFFFF;
 background-color: #BFE4FF;
}

ul#menu li.selected {
 width: 159px;
 border-right: none;
 color: #FF5E00;
 background-color: #00487D;
 padding-right: 10px;
}

ul#menu li.selected a {
 color: #FF5E00;
}

ul#menu li a {
 color: #0066B3;
 position: relative;
 top:5px;
}

div.verticaltext {
 position: absolute;
 right: 0;
 z-index: -2;
}
